*{margin:0; padding:0}
a{color:#f7f7f7;text-decoration: none;}
html, body{height:100%}
body{background-color: #f7f7f7;font-family: Arial, Helvetica, sans-serif;}
.clear-both{clear: both;}
.table{width: 100%;}
.btn{padding:5px 15px}
.login-form-button{margin:15px 0}
.login-form-subtitle{margin-bottom:10px;margin-top:5px}

.container{width: 1024px;margin: 0 auto;box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);overflow-y: auto;height: 100%;background-color: #187bcd;}
.header{background-image: url('../img/header.jpg');height:300px;display: flex;align-items: flex-end;background-repeat: no-repeat;background-position: top;background-size: cover;}
.header h1{color:#f7f7f7;padding:100px 10px;text-align: center;font-size: 64px;}
.navbar{background: #1167b1;width: 100%;box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.27);}
.navbar ul li{list-style: none;float: left;}
.navbar ul li a{padding:5px 10px;display: inline-block;margin: 5px 3px;}
.navbar ul li:first-child a{margin: 5px 3px 5px 20px;} 
.navbar ul li:last-child a{margin: 5px 20px 5px 3px;}
.navbar ul li a.active{background-color: #187bcd;border-radius: 3px;}
.navbar ul li a:hover{background-color: #187bcd;border-radius: 3px;}
.content{display: grid;grid-template-columns: repeat(12, minmax(0, 1fr));}
.content .sidebar{grid-column: span 4 / span 4;padding:10px;color:#f7f7f7}
.content .main{grid-column: span 8 / span 8;padding:15px;color: #f7f7f7;height: 100%;}

.table td, .table th {border: 1px solid #ddd;text-align: left;}
.table {border-collapse: collapse;width: 100%;}
.table th, .table td {padding: 15px;}

input{padding:5px 10px;box-sizing: border-box;border-radius: 5px;border: none;font-size: 14px;background-color: #fafafa;}
input:focus{outline: none;}

.login-container{display: flex;justify-content: center;align-items: center;height: 100%;}
.login-form{width: 300px;margin: 0 auto;position: relative;}
.login-form input{width: 100%;font-size: 18px;margin: 10px 0;padding: 10px 15px;}
.login-form input[type='submit']:hover{cursor: pointer;background-color: #f2f2f2;}
.login-form h2{text-align: center;}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
  }